.DS_Store
node_modules
/dist
startup.bat
quill
client/node_modules
client/static/imgs/words
client/dist
db
imgs
server/node_modules
start-client.bat
start-db.bat
start-server.bat
words.bat

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
