/*通用颜色*/
$color-warn: #F44C4C;

/*背景颜色: 多级背景色, 越来越深*/
$background-color-1: #666;
$background-color-2: #495060;
$background-color-3: #363E4F;
$background-color-4: #363B47;
$background-color-5: #333;
$background-color-active: #2D8CF0;
$background-color-hover: #777;


/*字体颜色*/
$font-color-normal: #222;
$font-color-active: #2D8CF0;	
$font-color-grey: #ccc;
$font-color-white: #fff;
$font-color-4: #ccc;

/*长度*/
$top-bar-height: 50px;
$console-top-bar-height: 50px;
$left-bar-width: 200px;
$menu-li-height: 40px;

/*用户管理界面*/
$um-top-bar-height: 60px;

/*主题色*/
$theme-1: #58b7ff;
$theme-2: #20a0ff;
$theme-3: #1d8ce0;

/*辅助色*/
$blue: #20a0ff;
$success: #13ce66;
$warning: #f7ba2a;
$danger: #ff4949;

/*中性色*/
$black-1: #475669;
$black-2: #324057;
$black-3: #1f2d3d;
$silver-1: #c0ccda;
$silver-2: #99a9bf;
$silver-3: #8492a6;
$gray-1: #eff2f7;
$gray-2: #e5e9f2;
$gray-3: #d3dce6;
$white-1: #ffffff; 
$white-2: #f9fafc;
